<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyPay</title>
    <!-- <link href = "bootstraplink.css" rel="stylesheet"> -->

    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
          <link href="https://maxcdn.bootstrapcdn.com/bootstrap/
      3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href = "/static/style.css" rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery.js"></script>
</head>
<body>
    

<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand xyz" href="#">Easy Pay</a>
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav xyz">
                    <li><a href="/">Home</a></li>
                    {% if "user_id" in session %}
                        <li><a href="/homepage/{{ session["user_id"] }}">Dashboard</a></li>
                    {% else %}
                        <li><a href="/login">Dashboard</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right xyz">
                    {% if "user_id" in session %}
                        <li><a href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
</nav>


{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/
      3.3.7/js/bootstrap.min.js"></script>

</body>
</html>