{% extends 'base.html' %}
{% block content %}

  <h1>Easy Pay</h1>
  <h3>Uneasy about sending money online to a potential scammer? Not to worry! EasyPay offerss safe and secure payments for online and global transactions.</h3>

  <h2>How does it work?</h2>

  <h2>1. Create a Contract</h2>
  <h3>Edit and fill out a templates for a contract. Let us know when you want the payment to reach the seller.</h3>
  <h2>2. Share and negotiate</h2>
  <h3> Edit and reach an agreement with the other trasacting party until you are both happy to sign the contract.</h3>
  <h2>3. Transaction of funds</h2>
  <h3>Send us the money. We will hold it until the agreed payemnt date and then send it to the seller. If you are being scammed, the money will be returned to you.</h3>



  <form action="/login">
    <input type="submit" class="button" value="Get Started!" />
  </form>
  

{% endblock %}