{% extends 'base.html' %}
{% block content %}
<br>
<div class="well spaced" style="width:97%">
  <h1>Welcome to your dashboard!</h1>
  <h2>{{ user.fullname }}</h2>
  <h3>({{ user.payer_seller }})</h3>
</div>
<br>
<h3>Pending Transactions</h3>
<div class="table pending">
    <table style="width:100%">
      <tr>
        <th>Transaction ID</th>
        {% if user.payer_seller == "Payer" %}
          <th>Recipient</th> 
        {% elif user.payer_seller == "Seller" %}
          <th>Payer</th>
        {% endif %}  
        <th>Payment Date</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      {% if pending_transactions != [] %}
          {% for transaction in pending_transactions %}
              <tr>
                {% if transaction.status == "pending approval from seller" and user.payer_seller == "Payer" %}
                  <td><a href="/approved-form/{{ transaction.transaction_id }}" class="contract-button"><span>{{ transaction.transaction_id }}</span></a></td>
                {% elif transaction.status == "awaiting payment from payer" or transaction.status == "payment to seller scheduled" or transaction.status == "declined by seller" %}
                  <td><a href="/approved-form/{{ transaction.transaction_id }}" class="contract-button"><span>{{ transaction.transaction_id }}</span></a></td>
                {% else %}
                  <td>{{ transaction.transaction_id }}</td>
                {% endif %}
                {% if user.payer_seller == "Payer" %}
                  <td>{{ transaction.seller.fullname}}</td> 
                {% elif user.payer_seller == "Seller" %}
                  <td>{{ transaction.payer.fullname}}</td>
                {% endif %}
                <td>{{ transaction.date.strftime('%Y-%m-%d') }}</td>
                <td>${{ transaction.amount }}</td>
                <td>{{ transaction.status }}</td>
                {% if transaction.status == "pending approval from payer" and user.payer_seller == "Payer" %}
                    <td><a href="/terms/{{ user.user_id }}" class="contract-button"><span>View Contract</span></a></td>
                {% elif transaction.status == "pending approval from seller" and user.payer_seller == "Seller" %}
                    <td><a href="/approved-form/{{ transaction.transaction_id }}" class="contract-button"><span>View and approve contract</span></a></td>
                {% elif transaction.status == "awaiting payment from payer" and user.payer_seller == "Payer" %}
                    <td><a href="/payment/{{ transaction.transaction_id }}" class="contract-button"><span>Pay funds to Easy Pay</span></a></td>
                {% elif transaction.status == "declined by seller" and user.payer_seller == "Payer" %}
                    <td><a href="/terms/{{ user.user_id }}" class="contract-button"><span>Edit contract once again!</span></a></td>
                {% else %}
                    <td>No action</td>
                {% endif %}
              </tr>
          {% endfor %}
      {% else %}
      <div id='no_trans'>
          <td>You currently have no pending transactions!</td>
      </div>
      {% endif %}

    </table>
</div>
<br><br>
<h3>Completed Transactions</h3>
<div class="table completed">
    <table style="width:100%">
      <tr>
        <th>Transaction ID</th>
        {% if user.payer_seller == "Payer" %}
          <th>Recipient</th> 
        {% elif user.payer_seller == "Seller" %}
          <th>Payer</th>
        {% endif %}
        <th>Payment Date</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>
      {% if completed_transactions != [] %}
              {% for transaction in completed_transactions %}
                  <tr>
                    <td><a href="/approved-form/{{ transaction.transaction_id }}" class="contract-button"><span>{{ transaction.transaction_id }}</span></a></td>
                    {% if user.payer_seller == "Payer" %}
                      <td>{{ transaction.seller.fullname }}</td> 
                    {% elif user.payer_seller == "Seller" %}
                      <td>{{ transaction.payer.fullname }}</td>
                    {% endif %}
                    <td>{{ transaction.date.strftime('%Y-%m-%d') }}</td>
                    <td>${{ transaction.amount }}</td>
                    <td>{{ transaction.status }}</td>
                  </tr>
              {% endfor %}
      {% else %}
      <div id='no_trans'>
          <td>You have no completed transactions!</td>
      </div>
      {% endif %}

    </table>
</div>
<br>
<div id='create-trans'>
  <a href="/terms/{{ user.user_id}}" class="contract-button"><span>Create a transaction</span></a>
</div>

<button id="show-contract" class="contract-button">AJAX button</button>

<script>
function replaceFortune(results) {
    $("#fortune-text").html(results);
}

function showContract(evt) {
    $.get('/terms/<int:user_id>', replaceFortune);
}

$('#').on('click', showContract);

</script>
{% endblock %}